$fontSmall : 12px;
$grey : #7f807a;
$blu : #0777df;
$grigioScuro : #303030;
.blu {
    color: blue;
}
.nero {
    color: black;
}
.bianco {
    color: white;
}
.uppercase {
    text-transform: uppercase;
}